<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> {{ site.title }}</p>
<!-- BEGIN: Powered by Supercounters.com -->
<center><script type="text/javascript" src="//widget.supercounters.com/ssl/hit.js"></script><script type="text/javascript">sc_hit(1432603,0,5);</script><br><noscript><a href="http://www.supercounters.com">free Hit Counter</a></noscript>
</center>
<!-- END: Powered by Supercounters.com -->

</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
